.fakeimg {
  width: 30%;
  margin: auto;
  height: 50px;
  background-color: rgb(238, 116, 170);
}
.bg-dark {
  text-align: center;
  background-color: pink;
  padding: 40px;
  color: rgb(7, 7, 6);
}
body {
  background-color: rgb(255, 255, 240);
  margin: 0px;
  text-align: center;
}
.navbar {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}
.barra {
  background-color: deeppink;
  height: 100%;
  position: absolute;
  height: 400%;
  width: 90px;
  margin: 0%;
}
nav a {
  display: block;
  height: 200px;
  width: 59px;
  color: #000;
}
.row {
  margin: 90px;
}
